.booking {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 6px;
  padding: 15px 20px;
  min-width: 150px;
  /* height: 100%; */
  min-height: 150px;
  max-height: 200px;
  display: flex;
  overflow: hidden;
  flex-flow: column;
  background-color: white;
  justify-content: center;
}

.booking-label-div {
  margin: 5px;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
}

.booking-label {
  margin: 3px;
  padding: 3px;
  border-radius: 2px;
  font-weight: 700;
  font-family: 'Roboto',sans-serif;
  background-color: #58cfbf;
  color: white;
}

.booking-label.DENIED {
  background-color: red;
}

.booking-label.PENDING {
  background-color: #ffc38d
}

.booking-label.APPROVED {
  background-color: #2B3D79;
}

.booking a {
  color: black;
  font-family: 'Roboto',sans-serif;
}

.old {
  color: gray;
  background-color: lightgray;
}

.booking-index {
  display: flex;
  
  /* justify-items: center; */
  padding: 20px;
  /* background-image: url('../images/puppies_bg.png');
  background-size: 50%;
  background-position: center; */
  min-height: 250px;
  max-height: 450px;
  width: 650px;
  /* overflow: auto; */
  background-color: white;
  justify-content: center;
  border-radius: 2em;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
}

.booking-index-container {
  display: flex;
  flex-direction: column;
  overflow: auto;

} 



.bookings-container {
  display: flex;
  flex-wrap: wrap;
  height: 25%;
  justify-content: center;
}

.booking-index-container h1 {
  text-align: center;
  font-family: 'Abel', sans-serif
}


.booking-buttons {
  display: flex;
  justify-content: space-between;
}

.booking-button, .pending {
  margin-top: 13px;
  /* width: 45%; */
  text-align: center;
  align-self: center;
  display: inline-block;
  padding: 12px 20px 12px 20px;
  border-radius: 10rem;
  border-style: none;
  color: white;
  background-color: #ffc38d;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  cursor: pointer;
}

.booking-button.booking-approve {
  margin-top: 0;
  padding: 9px 10px;
}

.booking-button.booking-deny {
  background-color: #ff8d8d;
  margin-left: 5px;
}

.booking-approve:hover {
  padding: .74rem 1.25rem;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
  background-color: white;
  border: 2px solid #58cfdf;
  padding: 10px 18px 10px 18px;
  color: #58cfdf;
}

.booking-deny:hover {
  padding: .74rem 1.25rem;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
  background-color: white;
  border: 2px solid #2b3d79;
  padding: 10px 18px 10px 18px;
  color: #2b3d79;
}

.booking-session-text {
  font-family: 'Roboto',sans-serif;
  font-size: 25px;
  font-weight:300;
  align-self: center;
  text-align: center;
  margin-top:30px;
}