.booking {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 6px;
  padding: 5px;
  display: flex;
  overflow: hidden;
  flex-flow: column;
  background-color: white;
}

.booking-label-div {
  margin: 5px;
}

.booking-label {
  margin: 3px;
  padding: 3px;
  border-radius: 2px;
  font-weight: 300;
  background-color: #58cfbf;
  color: white;
}

.booking a {
  color: black;
}

.old {
  color: gray;
  background-color: lightgray;
}

.booking-index {
  padding: 20px;
  background-image: url('../images/puppies_bg.png');
  background-size: 50%;
  background-position: center;
  height: 100vh;
  overflow: auto;
}