.puppy-index {
  display: flex;
  justify-content: center;
  /* border: 2px solid lightgray; */
  border-radius: 3px;
  /* margin: 10px; */
  padding: 5px;
  flex-wrap: wrap;
  position: absolute;
  /* margin-top: 100px; */
}

.puppy {
  /* border: 1px solid lightgray; */
  border-radius: 10px;
  /* padding: 20px; */
  margin: 6px;
  height: 250px;
  min-width: 250px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  /*background properties*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.puppy.less {
  flex-direction: column-reverse;
}

.puppies-bg {
  /* background-color: #deeeec; */
  background-image: url('../images/puppies_bg.png');
  background-size: 50%;
  background-repeat: repeat;
  min-height: 100vh;
  min-width: 100vw;
  position: sticky;
  overflow: auto;
}

.puppy-info-container {
  background-color: #ffc38d;
  height: 50px;
  padding: 17px 10px;
  display: flex;
  justify-content: space-between;
}

.puppy a {
  align-self: flex-start;
  width: 100%;
}

.puppy-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: white;
}

.puppy-price {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: White;
}

.puppy-hover{
  /* display: none; */
  content: "";
}

.less:hover {
  /* box-sizing: border-box; */
  transform: scale(1.1);
  transition: all 100ms ease-in-out;
  /* border: 5px solid rgba(255, 151, 151, 1); */
}

.puppy:hover .puppy-hover {
  display: block;
  flex: 1;
  /* background-color: rgba(255, 151, 151, 0.548); */
  z-index: 20;
}

.puppy-label-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.puppy-label {
  /* margin: 5px; */
  padding: 3px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: black;
  border-radius: 3px;
  /* background-color: #58cfbf; */
  margin: 3px 0px 3px 0px;

  /* -webkit-text-stroke: 1px solid black; */
}

.puppy-label-div a, .puppy-label-div p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: capitalize;
}

.puppy.more {
  background-size: 100%;
  background-position: center;
  width: 800px;
  height: 300px;
  display: flex;
  flex-direction: column-reverse;
}

.puppy-more-label {
  background-color: #ffc38d;
    height: 50px;
    padding: 17px 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.puppy-more-label.owner {
  cursor: default;
}

.puppy-show-container {
  display: flex;
  padding: 20px;
  align-items: center;
}

.puppy-info-more {
  width: 500px;
  font-family: 'Roboto', sans-serif;
}