.puppy-creation-form {
  /* border: 2px solid lightgray; */
  /* border-radius: 3px; */
  /* margin: 10px;
  padding: 5px; */
  /* background-color: white; */
  background-image: url('../images//puppies_bg.png');
  background-size: cover;
  padding: 40px 80px;
  min-width: 500px;
  box-sizing: border-box;
}

.puppy-creation-form-input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  background: rgba(255, 255, 255, 0.514);
  padding: 15px;
  border-radius: 2rem;
  height: 100%;
}

.puppy-creation-form .input-form {
  border-style: none;
  height: 30px;
  /* border-radius: 1rem; */
  padding: 5px;
}

.puppy-form-div {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
  border-style: none;
  overflow: hidden;
  height: 530px;
  width: 800px;
}

.puppy-form-label {
  display: flex;
  flex-direction: column;
  font-family: 'Abel', sans-serif;
  font-size: 24px;
}

.puppy-form-label.sex {
  display: flex;
  flex-direction: row;
  font-family: 'Abel', sans-serif;
}

.puppy-form-sex {
  font-family: 'Abel', sans-serif;
  margin-left: 10px;
  
}

.puppy-photo-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px
}

.puppy-photo-upload img{
  height: 50%;
  width: 90%;
  border-radius: 5px;
}

.dogter-image-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: -.49px;
  line-height: 37px;
  text-align: center;
  align-self: center;
  width: 300px;
  padding: 5px;
}

.puppy-preview-image {
  height: 530px;
  width: 300px;
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
  position: static;
}

.register-dogter {
  cursor: pointer;
  margin-top: 13px;
  width: 100%;
  align-self: center;
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  border-style: none;
  color: white;
  background-color: #58cfbf;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
}

.file-input{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute
}