.puppy-index {
  display: flex;
  justify-content: center;
  border: 2px solid lightgray;
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
  flex-wrap: wrap;
}

.puppy {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  min-width: 250px;
}
