.input-form {
  outline: none;
  border: 2px solid lightgray;
  border-radius: 3px;
  margin: 10px;
  height: 25px;
  width: 300px
}

.login-div, .signup-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-form, .login-form {
  padding: 10px;
  
  border: 2px solid lightgray;
  border-radius: 3px;
  box-sizing: border-box;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form * {
  width: 300px;
  margin: 10px;
  padding: 5px;
  border-radius: 3px;
}

.firstName-input, .lastName-input {
  width: 120px;
}

.session-error {
  border: 2px solid red;
}

.session-error-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-error-list-item {
  margin: 10px;
  padding: 10px;
  background-color: rgba($color: #000000, $alpha: 0.5);
  width: 300px;
  color: white;
  border-radius: 3px;
  text-align: center;
}
