.splash-container {
    height: 450px;
    overflow: hidden;
    position: relative;
}

.splash-image {
    background-image: url("../images/dog-splash.jpg");
    width: 100vw;
    height: 100vh;
    /* background-position: 200px; */
    background-position-x: 300px;
    background-position-y: -175px;
    background-size: 80%;
    background-repeat: no-repeat;
    position: absolute;
}

.splash-circle {
    width: 700px;
    height: 700px;
    left: -200px;
    top: -100px;
    border-radius: 50%;
    background-color: #be8abf;
    position: absolute;
}

.splash-text {
    margin-top: 150px;
    padding: 30px;
    position: absolute;
    color: white;
}