.splash-container {
    height: 420px;
    overflow: hidden;
    position: relative;
}

.splash-image {
    background-image: url("../images/dog-splash.jpg");
    min-width: 2500px;
    width: 100%;
    height: 100%;
    /* background-position: center; */
    background-position-x: 355px;
    background-position-y: -180px;
    background-size: 50%;
    background-repeat: no-repeat;
    position: absolute;
}

.splash-circle {
    width: 700px;
    height: 700px;
    left: -200px;
    top: -100px;
    border-radius: 50%;
    background-color: #6c567b;
    position: absolute;
}

.splash-text {
    margin-top: 150px;
    padding: 30px;
    position: absolute;
    color: white;
}

.start-button {
    width: 250px;
    height: 42px;
    border-radius: 8px;
    font-weight: bold;
    background-color: #f67280;
    border-style: none;
    color: white;
    margin-top: 15px;
}