.splash-image {
    background-image: url("../images/dog-splash.jpg");
    width: 100vw;
    height: 420px;
    background-position: 200px;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}

.splash-circle {
    width: 700px;
    height: 700px;
    left: -200px;
    top: -100px;
    border-radius: 50%;
    background-color: #4f3961;
    position: absolute;
}

.splash-text {
    margin-top: 150px;
    padding: 30px;
    position: absolute;
    color: white;
}